/* top banner style  */
.top-banner-style{
    background-color: #264653;
    color: white;
}
.button-style{
    background-color:#E76F51  ;
    color: white;
    width: 168px;
    height: 44px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}
.ancor-style{
    text-decoration: none;
    color: white;
}
/* fetured section style  */
.fetured-header{
    text-align: center;
}
.fetured-header-p{
    color: #E76F51    ;
}
/* happy client section  */
.happy-client-header{
    text-align: center;
}
.happy-client-header-style{
    color: #E76F51;
}
.happy-client-card{
    width: 322;
    height: 478;
    align-items: center;
}
.happy-client-card img{
    border-radius: 50%;
    width: 149px;
    height: 149px;
    
}
.font-awesome-icon{
    text-align: center;
}
.fa-star{
     color: #E76F51;   
}
.happy-client-name{
    text-align: center;
    color: #23A6F0;
}
